<div class="main-container">
  <header class="top-bar">
    <div class="top-bar-left">Hello</div>
    <div class="top-bar-right">
      <span>Admin</span> | <a href="#">Signout</a>
    </div>
  </header>

  <div class="content-section">
    <div class="box">
      <div class="box-header">
        <div class="box-header-title">Doctors</div>
        <div class="box-header-button">
          <button class="btn btn-primary-gradient" (click)="getModal(content)">New Doctor</button>
        </div>
      </div>
      <div class="box-content">
        <ng-container *ngIf="pageDoctors | async as listDoctors; else failureOrLoading">
          <div *ngIf="searchFormGroup" class="mb-2">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchDoctors()">
              <div class="input-group w-25">
                <input type="search" formControlName="keyword" class="form-control rounded mx-2" placeholder="Search" aria-label="Search">
                <button type="submit" class="btn btn-outline-primary">search</button>
              </div>
            </form>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Doctor Id</th>
              <th>Doctor First Name</th>
              <th>Doctor Last Name</th>
              <th>Doctor Birth Date</th>
              <th>Doctor Hospital</th>
              <th>Doctor Specialization</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let d of listDoctors.content">
              <td>{{d.doctorId}}</td>
              <td>{{d.firstName}}</td>
              <td>{{d.lastName}}</td>
              <td>{{d.birthDate}}</td>
              <td>{{d.hospital.name}}</td>
              <td>{{d.specialization.description}}</td>
              <td>
                <button (click)="handleDeleteDoctor(d)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              <td>
                <button (click)="getAppointmentModal(d, appointmentContent)" class="btn btn-info">
                  Appointments
                </button>
              </td>
              <td>
                <button (click)="getUpdateDoctorModal(d, updateContent)" class="btn btn-success">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </td>

            </tr>
            </tbody>
          </table>
          <ul class="pagination justify-content-center">
            <li *ngFor="let item of [].constructor(listDoctors.totalPages); let page=index" class="page-item"
                [ngClass]="{'active': page === currentPage}">
              <a (click)="gotoPage(page)" class="page-link">{{page}}</a>
            </li>
          </ul>
        </ng-container>
        <ng-template #failureOrLoading>
          <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger">
              {{errorMessage}}
            </div>
          </ng-container>
          <ng-template #loading>
            <div class="loader shadow-sm text-muted">
              <span><i class="fa-solid fa-rotate fa-spin"></i> </span> &nbsp; <span>Processing...</span>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Afișează modalul dacă showModal este true -->
<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title text-muted"><i class="fa-regular fa-circle-dot"></i>&nbsp; Doctor Form</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="doctorFormGroup" method="post">
  <div class="modal-body">
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">First Name</label>
          <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                 [ngClass]="{'is-invalid': submitted && doctorFormGroup.controls['firstName'].errors}"
                 formControlName="firstName">
          <div *ngIf="submitted && doctorFormGroup.get('firstName')?.invalid" class="invalid-feedback d-block">
            <div *ngIf="doctorFormGroup.get('firstName')?.errors?.['required']">First Name is Required</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Last Name</label>
          <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                 [ngClass]="{'is-invalid': submitted && doctorFormGroup.controls['lastName'].errors}"
                 formControlName="lastName">
          <div *ngIf="submitted && doctorFormGroup.get('lastName')?.invalid" class="invalid-feedback d-block">
            <div *ngIf="doctorFormGroup.get('lastName')?.errors?.['required']">Last Name is Required</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Birth Date</label>
          <input type="date" class="form-control form-font rounded-0 mt-1 mb-3"
                 [ngClass]="{'is-invalid': submitted && doctorFormGroup.controls['birthDate'].errors}"
                 formControlName="birthDate">
          <div *ngIf="submitted && doctorFormGroup.get('birthDate')?.invalid" class="invalid-feedback d-block">
            <div *ngIf="doctorFormGroup.get('birthDate')?.errors?.['required']">Birth Date is Required</div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Hospital</label>
          <select class="form-control form-font rounded-0 mt-1 mb-3"
                  [ngClass]="{'is-invalid' : submitted && doctorFormGroup.get('hospital')?.invalid}"
                  formControlName="hospital">
            <option [defaultSelected]="true" [ngValue]="defaultHospital">{{ defaultHospital.name }}</option>
            <option *ngFor="let h of hospitals$ | async" [ngValue]="h">{{ h.name }}</option>
          </select>
          <div *ngIf="submitted && doctorFormGroup.get('hospital')?.invalid" class="invalid-feedback">
            <div *ngIf="doctorFormGroup.get('hospital')?.errors?.['required']">Hospital is Required</div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Specialization</label>
          <select class="form-control form-font rounded-0 mt-1 mb-3"
                  [ngClass]="{'is-invalid' : submitted && doctorFormGroup.get('specialization')?.invalid}"
                  formControlName="specialization">
            <option [defaultSelected]="true" [ngValue]="defaultSpecialization">{{ defaultSpecialization.description }}</option>
            <option *ngFor="let s of specializations$ | async" [ngValue]="s">{{ s.description }}</option>
          </select>
          <div *ngIf="submitted && doctorFormGroup.get('specialization')?.invalid" class="invalid-feedback">
            <div *ngIf="doctorFormGroup.get('specialization')?.errors?.['required']">Specialization is Required</div>
          </div>
        </div>
      </div>


      <div formGroupName="user">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Email</label>
            <input type="email" class="form-control form-font rounded-0 mt-1 mb-3"
                   [ngClass]="{'is-invalid' : submitted && doctorFormGroup.get('user.email')?.invalid}"
                   formControlName="email">
            <div *ngIf="submitted && doctorFormGroup.get('user.email')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="doctorFormGroup.get('user.email')?.errors?.['required']">Email is required</div>
              <div *ngIf="doctorFormGroup.get('user.email')?.errors?.['email']">Invalid email format</div>
              <div *ngIf="doctorFormGroup.get('user.email')?.errors?.['emailAlreadyExists']"> Email Already Exists</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Password</label>
            <input type="password" class="form-control form-font rounded-0 mt-1 mb-3"
                   [ngClass]="{'is-invalid' : submitted && doctorFormGroup.get('user.password')?.errors}"
                   formControlName="password">
            <div *ngIf="submitted && doctorFormGroup.get('user.password')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="doctorFormGroup.get('user.password')?.errors?.['required']">Password is required</div>
              <div *ngIf="doctorFormGroup.get('user.password')?.errors?.['minlength']"> Password must be at least 6 characters long</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCloseModal(modal)">Close</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="onSaveDoctor(modal)">Save changes</button>
  </div>
  </form>
</ng-template>

<ng-template #appointmentContent let-appointmentModal>
  <div class="modal-header">
    <div class="modal-title text-muted"><i class="fa-regular fa-circle-dot"></i>&nbsp; Doctor Appointments</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="appointmentModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="box-content">
      <ng-container *ngIf="pageAppointment$ | async as listAppointments; else failureOrLoading">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Appointment Id</th>
            <th>Appointment Status</th>
            <th>Appointment Date</th>
            <th>Doctor</th>
            <th>Patient</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let a of listAppointments.content">
            <td>{{a.appointmentId}}</td>
            <td>{{a.status}}</td>
            <td>{{a.appointmentDate}}</td>
            <td>{{a.doctor.firstName }} {{ a.doctor.lastName }}</td>
            <td>{{a.patient.firstName}} {{a.patient.lastName}}</td>
          </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(listAppointments.totalPages); let page = index">
            <a [ngClass]="page==appointmentCurrentPage?'btn-info':'btn-outline-info'" (click)="gotoAppointmentsPage(page)"
               class="btn mb-1 ms-1 mt-1">{{ page }}</a>
          </li>
        </ul>

      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
          <div class="text-danger">
            {{errorMessage}}
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="loader shadow-sm text-muted">
            <span><i class="fa-solid fa-rotate fa-spin"></i> </span> &nbsp; <span>Processing...</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>

</ng-template>

<ng-template #updateContent let-updateModal>
  <div class="modal-header">
    <div class="modal-title text-muted">
      <i class="fa-regular fa-circle-dot"></i>&nbsp; Update Doctor Form
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="updateModal.dismiss('Cross click')"></button>
  </div>

  <form [formGroup]="updateDoctorFormGroup" method="post">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">First Name</label>
            <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                   [ngClass]="{'is-invalid': submitted && updateDoctorFormGroup.controls['firstName'].errors}"
                   formControlName="firstName">
            <div *ngIf="submitted && updateDoctorFormGroup.get('firstName')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="updateDoctorFormGroup.get('firstName')?.errors?.['required']">First Name is Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Last Name</label>
            <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                   [ngClass]="{'is-invalid': submitted && updateDoctorFormGroup.controls['lastName'].errors}"
                   formControlName="lastName">
            <div *ngIf="submitted && updateDoctorFormGroup.get('lastName')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="updateDoctorFormGroup.get('lastName')?.errors?.['required']">Last Name is Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Birth Date</label>
            <input type="date" class="form-control form-font rounded-0 mt-1 mb-3"
                   [ngClass]="{'is-invalid': submitted && updateDoctorFormGroup.controls['birthDate'].errors}"
                   formControlName="birthDate">
            <div *ngIf="submitted && updateDoctorFormGroup.get('birthDate')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="updateDoctorFormGroup.get('birthDate')?.errors?.['required']">Birth Date is Required</div>
            </div>
          </div>
        </div>

        <!-- Hospital Field -->
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Hospital</label>
            <select class="form-control form-font rounded-0 mt-1 mb-3"
                    [ngClass]="{'is-invalid' : submitted && updateDoctorFormGroup.get('hospital')?.invalid}"
                    formControlName="hospital">
              <option *ngFor="let h of hospitals$ | async" [ngValue]="h.hospitalId">{{ h.name }}</option>
            </select>
            <div *ngIf="submitted && updateDoctorFormGroup.get('hospital')?.invalid" class="invalid-feedback">
              <div *ngIf="updateDoctorFormGroup.get('hospital')?.errors?.['required']">Hospital is Required</div>
            </div>
          </div>
        </div>

        <!-- Specialization Field -->
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Specialization</label>
            <select class="form-control form-font rounded-0 mt-1 mb-3"
                    [ngClass]="{'is-invalid' : submitted && updateDoctorFormGroup.get('specialization')?.invalid}"
                    formControlName="specialization">
              <option *ngFor="let s of specializations$ | async" [ngValue]="s.specializationId">{{ s.description }}</option>
            </select>
            <div *ngIf="submitted && updateDoctorFormGroup.get('specialization')?.invalid" class="invalid-feedback">
              <div *ngIf="updateDoctorFormGroup.get('specialization')?.errors?.['required']">Specialization is Required</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onCloseModal(updateModal)">Close</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="onUpdateDoctor(updateModal)">Save changes</button>
    </div>
  </form>
</ng-template>

