<div class="sidebar">
  <div class="sidebar-title">MedGuide</div>
  <ul class="sidebar-list">
    <li><a routerLink="/patients" routerLinkActive="active"><span><i class="fa-solid fa-hospital-user"></i></span>
      Patients</a></li>
    <li><a routerLink="/appointments" routerLinkActive="active"><span><i class="fa-regular fa-calendar-check"></i></span>
      Appointments</a></li>
    <li><a routerLink="/doctors" routerLinkActive="active"><span><i class="fa-solid fa-user-doctor"></i></span>
      Doctors</a></li>
    <li><a routerLink="/hospitals" routerLinkActive="active"><span><i class="fa-solid fa-hospital"></i></span>
      Hospitals</a></li>
    <li><a routerLink="/specializations" routerLinkActive="active"><span><i class="fa-solid fa-notes-medical"></i></span>
      Specializations</a></li>
    <li><a routerLink="/patient-appointments/1" routerLinkActive="active"><span><i class="fa-solid fa-person-chalkboard"></i></span>
      Patient Appointments</a></li>
    <li><a routerLink="/doctor-appointments/1" routerLinkActive="active"><span><i class="fa-solid fa-person-chalkboard"></i></span>
      Doctor Appointments</a></li>
    <li><a routerLink="/patient-consultations/1" routerLinkActive="active"><span><i class="fa-solid fa-stethoscope"></i></span>
      Patient Consultations</a></li>
    <li><a routerLink="/doctor-consultations/1" routerLinkActive="active"><span><i class="fa-solid fa-stethoscope"></i></span>
      Doctor Consultations</a></li>
  </ul>
</div>
