<div class="sidebar">
  <div class="sidebar-title">MedGuide</div>
  <ul class="sidebar-list">
    <li><a routerLink="/patients" routerLinkActive="active">Patients</a></li>
    <li><a routerLink="/appointments" routerLinkActive="active">Appointments</a></li>
    <li><a routerLink="/doctors" routerLinkActive="active">Doctors</a></li>
    <li><a routerLink="/consultations" routerLinkActive="active">Consultations</a></li>
    <li><a routerLink="/hospitals" routerLinkActive="active">Hospitals</a></li>
    <li><a routerLink="/specializations" routerLinkActive="active">Specializations</a></li>
  </ul>
</div>
