<div class="main-container">
  <header class="top-bar">
    <div class="top-bar-left">Hello</div>
    <div class="top-bar-right">
      <span>Admin</span> | <a href="#">Signout</a>
    </div>
  </header>

  <div class="content-section">
    <div class="box">
      <div class="box-header">
        <div class="box-header-title">Appointments</div>
        <div class="box-header-button">
          <button class="btn btn-primary-gradient" (click)="openModal()">New Appointment</button>
        </div>
      </div>
      <div class="box-content">
        <ng-container *ngIf="pageAppointment$ | async as listAppointments; else failureOrLoading">
          <div *ngIf="searchFormGroup" class="mb-2">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchAppointments()">
            <div class="input-group w-25">
              <input type="search" formControlName="keyword" class="form-control rounded mx-2" placeholder="Search" aria-label="Search"/>
              <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
          </form>
        </div>
          <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Appointment Id</th>
            <th>Appointment Status</th>
            <th>Appointment Date</th>
            <th>Doctor</th>
            <th>Patient</th>
          </tr>
          </thead>
            <tbody>
            <tr *ngFor="let a of listAppointments.content">
              <td>{{a.appointmentId}}</td>
              <td>{{a.status}}</td>
              <td>{{a.appointmentDate}}</td>
              <td>{{ a.doctor.firstName }} {{ a.doctor.lastName }}</td>
              <td>{{a.patient.firstName}} {{a.patient.lastName}}</td>
              <td>
                <button (click)="handleDeleteAppointment(a)" class="btn btn-danger">
                  <i class="bi-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
        </table>
          <ul class="pagination justify-content-center">
            <li *ngFor="let item of [].constructor(listAppointments.totalPages); let page = index"
                class="page-item"
                [ngClass]="{'active': page === currentPage}">
              <a (click)="gotoPage(page)" class="page-link">{{ page }}</a>
            </li>
          </ul>

        </ng-container>
        <ng-template #failureOrLoading>
          <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger">
              {{errorMessage}}
            </div>
          </ng-container>
          <ng-template #loading>
            <div class="loader shadow-sm text-muted">
              <span><i class="fa-solid fa-rotate fa-spin"></i> </span> &nbsp; <span>Processing...</span>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title text-muted">
      <i class="fa-regular fa-circle-dot"></i>&nbsp; Appointment Form
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Appointment Id</label>
          <input
            type="number"
            class="form-control form-font rounded-0 mt-1 mb-3"
            name="appointmentId"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Status</label>
          <input
            type="text"
            class="form-control form-font rounded-0 mt-1 mb-3"
            name="status"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="text-muted">Appointment Date</label>
          <input
            type="date"
            class="form-control form-font rounded-0 mt-1 mb-3"
            name="appointmentDate"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="text-muted">Patient</label>
          <input
            type="text"
            class="form-control form-font rounded-0 mt-1 mb-3"
            name="patient"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="text-muted">Doctor</label>
          <input
            type="text"
            class="form-control form-font rounded-0 mt-1 mb-3"
            name="doctor"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="modal.close('Save click')"
    >
      Save changes
    </button>
  </div>
</ng-template>
