<div class="main-container">
  <header class="top-bar">
    <div class="top-bar-left">Hello</div>
    <div class="top-bar-right">
      <span>Admin</span> | <a href="#">Signout</a>
    </div>
  </header>

  <div class="content-section">
    <div class="box">
      <div class="box-header">
        <div class="box-header-title">Specializations</div>
        <div class="box-header-button">
          <button class="btn btn-primary-gradient" (click)="openModal(content)">New Specialization</button>
        </div>
      </div>
      <div class="box-content">
        <ng-container *ngIf="pageSpecializations | async as listSpecializations; else failureOrLoading">
          <div *ngIf="searchFormGroup" class="mb-2">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchSpecializations()">
              <div class="input-group w-25">
                <input type="search" formControlName="keyword" class="form-control rounded mx-2" placeholder="Search" aria-label="Search">
                <button type="submit" class="btn btn-outline-primary">Search</button>
              </div>
            </form>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Specialization ID</th>
              <th>Specialization Description</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spec of listSpecializations.content">
              <td>{{spec.specializationId}}</td>
              <td>{{spec.description}}</td>
              <td>
                <button (click)="handleDeleteSpecialization(spec)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              <td>
                <button (click)="getUpdateSpecializationModal(spec, updateContent)" class="btn btn-success">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination justify-content-center">
            <li *ngFor="let item of [].constructor(listSpecializations.totalPages); let page=index" class="page-item"
                [ngClass]="{'active': page === currentPage}">
              <a (click)="gotoPage(page)" class="page-link">{{page}}</a>
            </li>
          </ul>
        </ng-container>
        <ng-template #failureOrLoading>
          <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger">
              {{errorMessage}}
            </div>
          </ng-container>
          <ng-template #loading>
            <div class="loader shadow-sm text-muted">
              <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title text-muted">
      <i class="fa-regular fa-circle-dot"></i>&nbsp; Specialization Registration Form
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="specializationFormGroup" method="post">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="text-muted">Description</label>
            <textarea class="form-control form-font rounded-0 mt-1 mb-3"
                      [ngClass]="{'is-invalid': submitted && specializationFormGroup.controls['description'].errors}"
                      formControlName="description" rows="2"></textarea>
            <div *ngIf="submitted && specializationFormGroup.get('description')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="specializationFormGroup.get('description')?.errors?.['required']">Description is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onCloseModal(modal)">Close</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="onSaveSpecialization(modal)">Save changes</button>
    </div>
  </form>
</ng-template>

<ng-template #updateContent let-updateModal>
  <div class="modal-header">
    <div class="modal-title text-muted">
      <i class="fa-regular fa-circle-dot"></i> Update Specialization Form
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="updateModal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="updateSpecializationFormGroup" method="post">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Description</label>
            <textarea class="form-control form-font rounded-0 mt-1 mb-3"
                      [ngClass]="{'is-invalid': submitted && updateSpecializationFormGroup.controls['description'].errors}"
                      formControlName="description" rows="2"></textarea>
            <div *ngIf="submitted && updateSpecializationFormGroup.get('description')?.invalid" class="invalid-feedback d-block">
              <div *ngIf="updateSpecializationFormGroup.get('description')?.errors?.['required']">Description is required</div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onCloseModal(updateModal)">Close</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="onUpdateSpecialization(updateModal)">Save changes</button>
    </div>
  </form>
</ng-template>
